body{
    background-color: rgb(136, 85, 26);
    height: 2000px;
    margin: 0px;
    padding: 0px;
}

.menu{
    background-color: rgb(151, 134, 108);
    width: 100%;
    height: 150px;
}

.menu1{
    position: sticky;
    background-color: blue;
    top: 5px;
    
}

#menu1 > ul{

   list-style: none;
   text-align: center;
}

#menu1 > ul > li{
color: rgb(255, 255, 255);
font-size: 30px;
width: 200px;
height: 50px;
background-color: rgb(153, 79, 30);
display: inline-block;
line-height: 50px;
top: 50%;
}

#menu1 > ul > li:hover{
    color: beige;
    background-color: rgb(87, 50, 9);
}
